name:  Backend

on:
  push:
    branches:
      - develop-be
  pull_request:
    branches:
      - develop-be

defaults:
  run:
    working-directory: backend  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3                   
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew build --exclude-task test

      - name: Test
        run: ./gradlew test
